En primer lugar, vamos a importar las librerias necesarias:

In [1]:
import pandas as pd
import numpy as np
from pycoingecko import CoinGeckoAPI

Ahora vamos a instancias nuestra API:

In [22]:
cg = CoinGeckoAPI()

In [23]:
coins_df = pd.json_normalize(cg.get_coins_list())
coins_df

                             id symbol                       name
0                        01coin    zoc                     01coin
1                        0chain    zcn                        Zus
2                 0vix-protocol    vix              0VIX Protocol
3                            0x    zrx                0x Protocol
4      0x0-ai-ai-smart-contract    0x0  0x0.ai: AI Smart Contract
...                         ...    ...                        ...
10102                  zynecoin    zyn                   Zynecoin
10103                   zynergy    zyn                    Zynergy
10104                     zyrri    zyr                      Zyrri
10105                       zyx    zyx                        ZYX
10106                       zzz    zzz                GoSleep ZZZ

[10107 rows x 3 columns]

In [26]:
cg.get_price(ids=coins_df['id'],vs_currencies='usd')

{}

In [24]:
cg.get_supported_vs_currencies()

['btc',
 'eth',
 'ltc',
 'bch',
 'bnb',
 'eos',
 'xrp',
 'xlm',
 'link',
 'dot',
 'yfi',
 'usd',
 'aed',
 'ars',
 'aud',
 'bdt',
 'bhd',
 'bmd',
 'brl',
 'cad',
 'chf',
 'clp',
 'cny',
 'czk',
 'dkk',
 'eur',
 'gbp',
 'hkd',
 'huf',
 'idr',
 'ils',
 'inr',
 'jpy',
 'krw',
 'kwd',
 'lkr',
 'mmk',
 'mxn',
 'myr',
 'ngn',
 'nok',
 'nzd',
 'php',
 'pkr',
 'pln',
 'rub',
 'sar',
 'sek',
 'sgd',
 'thb',
 'try',
 'twd',
 'uah',
 'vef',
 'vnd',
 'zar',
 'xdr',
 'xag',
 'xau',
 'bits',
 'sats']

In [15]:
pd.json_normalize(get_prices('bitcoin, ethereum','usd,eur'))

{'bitcoin': {'usd': 28557, 'eur': 26282}, 'ethereum': {'usd': 1795.01, 'eur': 1652.03}}

   bitcoin.usd  bitcoin.eur  ethereum.usd  ethereum.eur
0        28557        26282       1795.01       1652.03

Traemos datos:

In [5]:
def get_prices(coin_ids: str, vs_currencies: str):
    prices = cg.get_price(
        ids = coin_ids,
        vs_currencies = vs_currencies
    )
    print(prices)
    return prices

#if __name__ == '__main__':
#    get_prices('bitcoin,ethereum,solans,binancecoin','usd,eur')